html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-size: 1.6rem;
}
body{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
div {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
}
div > img {
    display: flex;
    flex: 1;
    max-width: 25rem;
    border-radius: 10%;
}

div > img:hover {
    border: .5rem solid yellow;
}

p {
    color: brown;
}

.vs {
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 2rem;
}

.vs > img{
    border-radius: 25%;
    max-width: 15rem;
}
.vs.c, .vs.p {
    margin: 0;
    flex-direction: column;
}

.score {
    gap: 3rem;
}

.score > div {
    white-space: nowrap;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
}

.score > div > h4{
    margin: 0;
    border: solid 2px blue;
    text-align: center;
}

.hidden {
    display: none;
}